@Master['master']
    
@Section['Content']
<div style="margin-top:60px;">

            @If.Errored
            <div class="alert alert-error"><strong>Oh snap!</strong> @Model.Message</div>
            @EndIf

    <form method="POST" id="newUserForm" class="form-horizontal">
        <fieldset>

            <legend>Create your user account</legend>
            
            <div class="control-group">
                <label class="control-label" for="Token">Registration code</label>    
                <div class="controls">
                    <input type="text" id="token" name="Token" 
                        placeholder="Token" class="input" @If.HasToken value="@Model.Token"  @EndIf/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="Username">Username</label>    
                <div class="controls">
                    <input type="text" id="username" name="Username" 
                        placeholder="Username" class="input" @If.HasUsername value="@Model.Username"  @EndIf/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="Password">Password</label>    
                <div class="controls">
                    <input type="password" id="password1" name="Password" placeholder="Password" class="input"/>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="Username">Password again</label>    
                <div class="controls">
                    <input type="password" id="password2" name="Password2" placeholder="Password" class="input"/>
                </div>
            </div>
            
            <div class="control-group">
                <div class="controls">
                    <button type="submit" 
                        class="btn btn-success btn-large"><i class="icon-signin"></i> Create user</button>
                    <a href="/" class="btn btn-large">Cancel</a>
                </div>
            </div>

        </fieldset>
    </form>
    
    <hr />
</div>
@EndSection

@Section['JS']
<script type="text/javascript">
    $(document).ready(function () {
        $("#newUserForm").submit(democracy.validateNewUser);
    });
</script>
@EndSection
    
