@Master['master']
    
@Section['Content']
    <form method="POST" class="form-inline">
        <div class="text-center">
            <input type="text" name="Username" placeholder="Username" class="input-small" />
            <input name="Password" type="password" placeholder="Password" class="input-small" />
            <label class="checkbox" style="padding-left:15px;padding-right:15px;">
                <input name="RememberMe" type="checkbox" value="True" />Remember me
            </label>
            <button type="submit" class="btn btn-success">Login</button>
            <div style="margin-top:20px;">
                <a href="#" onclick="alert('Not implemented yet!');">Register first time user</a>
            </div>
        </div>
    </form>
@EndSection
