@Master['master']
    
@Section['Content']

    <div class="navbar">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="/"><i class="icon-thumbs-up"></i> Vote</a></li>
          <li><a href="users"><i class="icon-user"></i> Users</a></li>
          <li><a href="admin"><i class="icon-cogs"></i> Item Admin</a></li>
          <li><a href="audit"><i class="icon-film"></i> Audit log</a></li>
          <li><a href="logout"><i class="icon-signout"></i> Logout</a></li>
        </ul>
      </div>
    </div>

    <div class="row">
        <div class="span12">
	@Each.items
        <div class="well"  style="padding-bottom:30px;">
            <div class="pull-left" style="margin-right:30px;margin-left:10px;">
                <table>
                    <tr>
                        <td class="text-center"><a href="#" class="btn btn-success"><i class="icon-thumbs-up icon-white"></i></a></td>
                        <td rowspan="2" class="text-center" style="padding-top:10px;padding-left:20px;"><strong style="font-size:35pt;">13</strong><br /><strong>VOTES</strong></td>
                    </tr>
                    <tr>
                        <td class="text-center"><a href="#" class="btn btn-danger"><i class="icon-thumbs-down icon-white"></i></a></td>
                    </tr>
                </table>
            </div>
            <div class="pull-right" style="margin-left:10px;">
                <i class="icon-tag"></i> @Current.Category <br />
                <a href="@Current.Link"><i class="icon-globe"></i> More info</a>
            </div>
            
            <strong>@Current.ShortDescription</strong><br />
            @Current.LongDescription
            slkdjf asklfj asldkfm ølksda mfasløkd fmølaskd fmølkasmd fløsdkm fløk sdmaløfk masdølfmkasdøklfm øsdlkfmøasdkfmølas
        </div>
    @EndEach
            </div>
    </div>
@EndSection
