@Master['master']
    
@Section['Content']
    <div class="row">
        <div class="span12">
	@Each.items
        <div class="well">

            <table style="width:100%;">
                <tr>
                    <td class="text-center" style="width:56px;vertical-align:top;">
                        <button onclick="democracy.voteUp('@Current.Id')" class="btn btn-success"><i class="icon-thumbs-up icon-white"></i></button><br />
                        <button onclick="democracy.voteDown('@Current.Id')" class="btn btn-danger"><i class="icon-thumbs-down icon-white"></i></button>
                    </td>
                    <td class="text-center" style="width:100px;vertical-align:top;padding-top:10px;">
                        <strong style="font-size:35pt;">@Current.AbsoluteVotes</strong><br /><strong>VOTES</strong>
                    </td>
                    <td style="vertical-align:top;">
                        <strong>@Current.ShortDescription</strong><br />
                        @Current.LongDescription
                    </td>
                    <td class="pull-right" style="width:100px;">
                        <i class="icon-tag"></i> @Current.Category <br />
                        <a href="@Current.Link"><i class="icon-globe"></i> More info</a>
                    </td>
                </tr>
            </table>

        </div>
    @EndEach
            </div>
    </div>
@EndSection
